{"swagger":"2.0","info":{"description":"Api Documentation","version":"1.0","title":"Api Documentation","termsOfService":"urn:tos","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"tkgi.mycorp.com:9021","basePath":"/","tags":[{"name":"basic-error-controller","description":"Basic Error Controller"},{"name":"cluster-controller","description":"the clusters API"},{"name":"cluster-details-controller","description":"the clusterdetails API"},{"name":"compute-profile-controller","description":"the compute-profiles API"},{"name":"data-dictionary-controller","description":"Data Dictionary Controller"},{"name":"kubernetes-profile-controller","description":"the kubernetes-profiles API"},{"name":"network-profile-controller","description":"the network-profiles API"},{"name":"operation-handler","description":"Operation Handler"},{"name":"plan-controller","description":"the plans API"},{"name":"quota-controller","description":"the quotas API"},{"name":"task-controller","description":"the tasks API"},{"name":"upgradable-controller","description":"the upgradable API"},{"name":"usage-controller","description":"the usages API"},{"name":"web-mvc-links-handler","description":"Web Mvc Links Handler"}],"paths":{"/actuator":{"get":{"tags":["web-mvc-links-handler"],"summary":"links","operationId":"linksUsingGET","produces":["application/json","application/vnd.spring-boot.actuator.v2+json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/definitions/Link"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/actuator/health":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_2","produces":["application/json","application/vnd.spring-boot.actuator.v2+json"],"parameters":[{"in":"body","name":"body","description":"body","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/actuator/health/{component}":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_1","produces":["application/json","application/vnd.spring-boot.actuator.v2+json"],"parameters":[{"in":"body","name":"body","description":"body","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/actuator/health/{component}/{instance}":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET","produces":["application/json","application/vnd.spring-boot.actuator.v2+json"],"parameters":[{"in":"body","name":"body","description":"body","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/actuator/info":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_3","produces":["application/json","application/vnd.spring-boot.actuator.v2+json"],"parameters":[{"in":"body","name":"body","description":"body","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/datadictionary":{"get":{"tags":["data-dictionary-controller"],"summary":"getDictionary","operationId":"getDictionaryUsingGET","produces":["text/csv"],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/error":{"get":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"head":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingHEAD","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"post":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingPOST","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingPUT","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingDELETE","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"options":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingOPTIONS","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["basic-error-controller"],"summary":"error","operationId":"errorUsingPATCH","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object"}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/v1/clusterdetails/{clusterName}":{"get":{"tags":["cluster"],"summary":"getClusterDetails","operationId":"getClusterDetails","produces":["application/json"],"parameters":[{"name":"clusterName","in":"path","description":"The cluster name","required":true,"type":"string"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Cluster"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Cluster does not exist","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/clusters":{"get":{"tags":["cluster"],"summary":"List all clusters","operationId":"listClusters","produces":["application/json"],"responses":{"200":{"description":"Listed successfully","schema":{"type":"array","items":{"$ref":"#/definitions/Cluster"}}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"post":{"tags":["cluster"],"summary":"Create new Kubernetes cluster","operationId":"addCluster","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clusterRequest","description":"Cluster info","required":true,"schema":{"$ref":"#/definitions/ClusterRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Cluster"}},"201":{"description":"Created"},"202":{"description":"Successful operation","schema":{"$ref":"#/definitions/Cluster"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"405":{"description":"Invalid input"},"409":{"description":"Cluster with that name already exists","schema":{"$ref":"#/definitions/ErrorResponse"}},"422":{"description":"Error adding cluster","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"patch":{"tags":["cluster"],"summary":"Upgrade single/multiple Kubernetes clusters","operationId":"upgradeClusters","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Cluster info","required":true,"schema":{"$ref":"#/definitions/UpgradeClustersRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TaskInfo"}},"202":{"description":"Cluster upgrades requested","schema":{"$ref":"#/definitions/TaskInfo"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Cluster does not exist","schema":{"$ref":"#/definitions/ErrorResponse"}},"405":{"description":"Invalid input"},"409":{"description":"Clusters could not be upgraded","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/clusters/{clusterName}":{"get":{"tags":["cluster"],"summary":"getCluster","operationId":"getCluster","produces":["application/json"],"parameters":[{"name":"clusterName","in":"path","description":"The cluster name","required":true,"type":"string"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Cluster"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Cluster does not exist","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"delete":{"tags":["cluster"],"summary":"deleteCluster","operationId":"deleteCluster","produces":["application/json"],"parameters":[{"name":"clusterName","in":"path","description":"The cluster name","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Cluster deletion in progress"},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Cluster does not exist","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"patch":{"tags":["cluster"],"summary":"updateCluster","operationId":"updateCluster","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"clusterName","in":"path","description":"The cluster name","required":true,"type":"string"},{"in":"body","name":"updateClusterParameters","description":"Update parameters","required":false,"schema":{"$ref":"#/definitions/UpdateClusterParameters"}}],"responses":{"200":{"description":"OK"},"202":{"description":"Cluster scale requested"},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Cluster not found","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/clusters/{clusterName}/binds":{"post":{"tags":["cluster","users"],"summary":"createUser","operationId":"createUser","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"clusterName","in":"path","description":"The cluster name","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"User created","schema":{"type":"object"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Cluster not found","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/clusters/{clusterName}/binds/{userName}":{"get":{"tags":["cluster","users"],"summary":"getBinding","operationId":"getBinding","produces":["application/json"],"parameters":[{"name":"clusterName","in":"path","description":"The cluster name","required":true,"type":"string"},{"name":"suppressClusterRoleBinding","in":"query","description":"set to true in order to get a kubeconfig with no cluster role binding data","required":false,"type":"string","allowEmptyValue":false},{"name":"userName","in":"path","description":"name of user to get kubeconfig for","required":true,"type":"string"}],"responses":{"200":{"description":"Binding retrieved","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Cluster not found","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/clusters/{clusterName}/certificates":{"get":{"tags":["cert","cluster"],"summary":"listCertificates","operationId":"listCertificates","produces":["application/json"],"parameters":[{"name":"clusterName","in":"path","description":"The cluster name","required":true,"type":"string"}],"responses":{"200":{"description":"Cluster certificates","schema":{"type":"array","items":{"$ref":"#/definitions/ClusterCertificate"}}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Cluster not found","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/clusters/{clusterName}/rotateNsxCerts":{"put":{"tags":["cert","cluster"],"summary":"rotateNsxCerts","operationId":"rotateNsxCerts","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"clusterName","in":"path","description":"The cluster name","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"202":{"description":"Cluster rotate nsx certs requested"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Cluster not found","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/compute-profiles":{"get":{"tags":["profile"],"summary":"List all compute profiles","operationId":"listComputeProfiles","produces":["application/json"],"responses":{"200":{"description":"Listed successfully","schema":{"type":"array","items":{"$ref":"#/definitions/ComputeProfile"}}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"post":{"tags":["profile"],"summary":"Create a new compute profile","operationId":"addComputeProfile","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"computeProfileRequest","description":"Compute profile info","required":true,"schema":{"$ref":"#/definitions/ComputeProfileRequest"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Successful operation"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"405":{"description":"Invalid input"},"409":{"description":"Compute profile with that name already exists","schema":{"$ref":"#/definitions/ErrorResponse"}},"422":{"description":"Error adding compute profile","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/compute-profiles/{profileName}":{"get":{"tags":["profile"],"summary":"getComputeProfile","operationId":"getComputeProfile","produces":["application/json"],"parameters":[{"name":"profileName","in":"path","description":"The compute profile name","required":true,"type":"string"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/ComputeProfile"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Compute profile does not exist","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"delete":{"tags":["profile"],"summary":"deleteComputeProfile","operationId":"deleteComputeProfile","produces":["application/json"],"parameters":[{"name":"profileName","in":"path","description":"The compute profile name","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Successful operation"},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"The compute profile does not exist","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/kubernetes-profiles":{"get":{"tags":["profile"],"summary":"List all kubernetes profiles","operationId":"listKubernetesProfiles","produces":["application/json"],"responses":{"200":{"description":"Listed successfully","schema":{"type":"array","items":{"$ref":"#/definitions/KubernetesProfile"}}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"post":{"tags":["profile"],"summary":"Create a new kubernetes profile","operationId":"addKubernetesProfile","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"kubernetesProfileRequest","description":"Kubernetes profile info","required":true,"schema":{"$ref":"#/definitions/KubernetesProfileRequest"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Successful operation"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"405":{"description":"Invalid input"},"409":{"description":"Kubernetes profile with that name already exists","schema":{"$ref":"#/definitions/ErrorResponse"}},"422":{"description":"Error adding kubernetes profile","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/kubernetes-profiles/{name}":{"get":{"tags":["profile"],"summary":"getKubernetesProfile","operationId":"getKubernetesProfile","produces":["application/json"],"parameters":[{"name":"name","in":"path","description":"The kubernetes profile name","required":true,"type":"string"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/KubernetesProfile"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Network profile does not exist","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"delete":{"tags":["profile"],"summary":"deleteKubernetesProfile","operationId":"deleteKubernetesProfile","produces":["application/json"],"parameters":[{"name":"name","in":"path","description":"The kubernetes profile name","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Successful operation"},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"The network profile does not exist","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/network-profiles":{"get":{"tags":["profile"],"summary":"List all network profiles","operationId":"listNetworkProfiles","produces":["application/json"],"responses":{"200":{"description":"Listed successfully","schema":{"type":"array","items":{"$ref":"#/definitions/NetworkProfile"}}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"post":{"tags":["profile"],"summary":"Create a new network profile","operationId":"addNetworkProfile","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"networkProfileRequest","description":"Network profile info","required":true,"schema":{"$ref":"#/definitions/NetworkProfileRequest"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Successful operation"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"405":{"description":"Invalid input"},"409":{"description":"Network profile with that name already exists","schema":{"$ref":"#/definitions/ErrorResponse"}},"422":{"description":"Error adding network profile","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/network-profiles/{profileName}":{"get":{"tags":["profile"],"summary":"getNetworkProfile","operationId":"getNetworkProfile","produces":["application/json"],"parameters":[{"name":"profileName","in":"path","description":"The network profile name","required":true,"type":"string"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/NetworkProfile"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Network profile does not exist","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"delete":{"tags":["profile"],"summary":"deleteNetworkProfile","operationId":"deleteNetworkProfile","produces":["application/json"],"parameters":[{"name":"profileName","in":"path","description":"The network profile name","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Successful operation"},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"The network profile does not exist","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/plans":{"get":{"tags":["plans"],"summary":"listPlans","operationId":"listPlans","produces":["application/json"],"responses":{"200":{"description":"List of plans retrieved successfully","schema":{"type":"array","items":{"$ref":"#/definitions/Plan"}}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/quotas":{"get":{"tags":["quota"],"summary":"List all quotas","operationId":"listQuotas","produces":["application/json"],"responses":{"200":{"description":"Listed successfully","schema":{"type":"array","items":{"$ref":"#/definitions/Quota"}}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"post":{"tags":["quota"],"summary":"Create new quota","description":"Create new quota","operationId":"addQuota","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"quota","description":"Quota Info","required":true,"schema":{"$ref":"#/definitions/Quota"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Quota"}},"201":{"description":"Successful operation","schema":{"$ref":"#/definitions/Quota"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"409":{"description":"Owner is already assigned quota","schema":{"$ref":"#/definitions/ErrorResponse"}},"422":{"description":"Error adding Quota","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/quotas/{owner}":{"get":{"tags":["quota"],"summary":"getQuota","operationId":"getQuota","produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"The owner name","required":true,"type":"string"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Quota"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Owner does not exist","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"delete":{"tags":["quota"],"summary":"deleteQuota","operationId":"deleteQuota","produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"The owner name","required":true,"type":"string"}],"responses":{"200":{"description":"Owner deleted"},"204":{"description":"No Content"},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Owner does not exist","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"patch":{"tags":["quota"],"summary":"updateQuota","operationId":"updateQuota","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"The owner name","required":true,"type":"string"},{"in":"body","name":"quota","description":"Quota Info","required":true,"schema":{"$ref":"#/definitions/Quota"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Quota"}},"202":{"description":"Quota update","schema":{"$ref":"#/definitions/Quota"}},"204":{"description":"No Content"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/ErrorResponse"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Quota not found","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/tasks":{"get":{"tags":["task"],"summary":"List all tasks","operationId":"listTasks","produces":["application/json"],"parameters":[{"name":"limit","in":"query","description":"Number of tasks to be returned","required":false,"type":"string","default":"10","allowEmptyValue":false}],"responses":{"200":{"description":"Listed successfully","schema":{"type":"array","items":{"$ref":"#/definitions/TaskInfo"}}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/tasks/{id}":{"get":{"tags":["task"],"summary":"getTask","operationId":"getTask","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The task id","required":true,"type":"string"}],"responses":{"200":{"description":"Returns the status of task operation","schema":{"$ref":"#/definitions/TaskInfo"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Task ID doesn't exist","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false},"put":{"tags":["task"],"summary":"cancelTask","operationId":"cancelTask","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The task id","required":true,"type":"string"}],"responses":{"200":{"description":"the task has been cancelled","schema":{"$ref":"#/definitions/TaskInfo"}},"201":{"description":"Created"},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Task ID doesn't exist","schema":{"$ref":"#/definitions/ErrorResponse"}}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/upgradable":{"get":{"tags":["upgradable"],"summary":"checkUpgradable","operationId":"checkUpgradable","produces":["application/json"],"responses":{"200":{"description":"Check if all clusters are upgraded to the most recent version and PKS API is upgradable","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/usages":{"get":{"tags":["usage"],"summary":"List all usage","operationId":"listUsages","produces":["application/json"],"responses":{"200":{"description":"Listed successfully","schema":{"type":"array","items":{"$ref":"#/definitions/Usage"}}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}},"/v1/usages/{owner}":{"get":{"tags":["usage"],"summary":"getUsage","operationId":"getUsage","produces":["application/json"],"parameters":[{"name":"owner","in":"path","description":"The owner name","required":true,"type":"string"}],"responses":{"200":{"description":"Successful operation","schema":{"$ref":"#/definitions/Usage"}},"401":{"description":"Authentication failure. Please check credentials and try again."},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"uaa":["pks.clusters.admin.read","pks.clusters.manage","pks.clusters.admin"]},{"basicAuth":[]}],"deprecated":false}}},"definitions":{"AZ":{"type":"object","required":["cloud_properties","cpi","name"],"properties":{"cloud_properties":{"type":"object"},"cpi":{"type":"string"},"name":{"type":"string"}},"title":"AZ"},"AvailableClusterUpgrade":{"type":"object","properties":{"component":{"type":"string"},"version":{"type":"string"}},"title":"AvailableClusterUpgrade"},"Certificate":{"type":"object","properties":{"certificate":{"type":"string"},"private_key":{"type":"string"}},"title":"Certificate"},"Cluster":{"type":"object","required":["name","plan_name","uuid"],"properties":{"available_upgrades":{"type":"array","items":{"$ref":"#/definitions/AvailableClusterUpgrade"}},"compute_profile_name":{"type":"string"},"k8s_version":{"type":"string"},"kubernetes_master_ips":{"type":"array","items":{"type":"string"}},"kubernetes_profile_name":{"type":"string"},"last_action":{"type":"string","enum":["CREATE","UPDATE","DELETE","UPGRADE","ROTATE_NSX_CERTIFICATES","ADD_CUSTOM_CERTIFICATE_AUTHORITY","SIGN_WITH_CUSTOM_CERTIFICATE_AUTHORITY","PURGE_OLD_CUSTOM_CERTIFICATE_AUTHORITY"]},"last_action_description":{"type":"string"},"last_action_state":{"type":"string","enum":["in progress","succeeded","failed","queued"]},"name":{"type":"string"},"network_profile_name":{"type":"string"},"parameters":{"$ref":"#/definitions/ClusterParameters"},"pks_version":{"type":"string"},"plan_name":{"type":"string"},"uuid":{"type":"string"}},"title":"Cluster"},"ClusterCertificate":{"type":"object","properties":{"ca":{"type":"boolean","description":"The flag indicates ca certificates"},"expiry_time":{"type":"string","description":"The expiry time of certificate"},"id":{"type":"string","description":"The uuid of a certificate"},"name":{"type":"string","description":"The name of the certificate"},"version_id":{"type":"string","description":"The uuid of current version of certificate"}},"title":"ClusterCertificate"},"ClusterConfigParameters":{"type":"object","properties":{"custom_ca":{"$ref":"#/definitions/Certificate"},"disable_net_permissions":{"type":"boolean","description":"Whether or not disable the net_permissions"},"disable_target_vsan_fileshare_datastore_urls":{"type":"boolean","description":"Whether or not disable the target_vsan_fileshare_datastore_urls"},"domain_controller_ip_address":{"type":"string"},"domain_fqdn":{"type":"string"},"domain_security_group":{"type":"string"},"domain_service_account":{"type":"string"},"domain_user_password":{"type":"string"},"domain_user_username":{"type":"string"},"enable_gmsa":{"type":"boolean","description":"only work for windows nodes"},"global_no_proxy_merge":{"type":"boolean","description":"If true, merge with global no-proxy from tile, else override global no-proxy"},"http_proxy":{"$ref":"#/definitions/ClusterProxy"},"https_proxy":{"$ref":"#/definitions/ClusterProxy"},"instance_groups":{"type":"array","items":{"$ref":"#/definitions/InstanceGroup"}},"net_permissions":{"type":"array","items":{"$ref":"#/definitions/NetPermission"}},"no_proxy":{"type":"string"},"target_vsan_fileshare_datastore_urls":{"type":"string"}},"title":"ClusterConfigParameters"},"ClusterCustomization":{"type":"object","properties":{"control_plane":{"$ref":"#/definitions/VMResource"},"node_pools":{"type":"array","items":{"$ref":"#/definitions/VMResource"}}},"title":"ClusterCustomization"},"ClusterParameters":{"type":"object","required":["kubernetes_master_host"],"properties":{"authorization_mode":{"type":"string"},"cluster_config_parameters":{"$ref":"#/definitions/ClusterConfigParameters"},"cluster_tags":{"type":"array","items":{"$ref":"#/definitions/ClusterTag"}},"compute_profile":{"type":"string"},"custom_ca_certs":{"type":"array","items":{"$ref":"#/definitions/CustomCaCert"}},"k8s_customization_parameters":{"$ref":"#/definitions/KubernetesCustomizationParameters"},"kubernetes_master_host":{"type":"string"},"kubernetes_master_port":{"type":"integer","format":"int32","example":8443},"kubernetes_setting_cluster_details":{"$ref":"#/definitions/KubernetesSettings"},"kubernetes_setting_plan_details":{"$ref":"#/definitions/KubernetesSettings"},"kubernetes_worker_instances":{"type":"integer","format":"int32"},"node_pool_instances":{"type":"string"},"nsxt_network_details":{"type":"string"},"nsxt_network_profile":{"type":"string"},"worker_haproxy_ip_addresses":{"type":"string"}},"title":"ClusterParameters"},"ClusterProxy":{"type":"object","properties":{"password":{"type":"string"},"url":{"type":"string"},"username":{"type":"string"}},"title":"ClusterProxy"},"ClusterRequest":{"type":"object","required":["name","parameters","plan_name"],"properties":{"compute_profile_name":{"type":"string"},"kubernetes_profile_name":{"type":"string"},"name":{"type":"string"},"network_profile_name":{"type":"string"},"parameters":{"$ref":"#/definitions/ClusterParameters"},"plan_name":{"type":"string"}},"title":"ClusterRequest"},"ClusterTag":{"type":"object","properties":{"category":{"type":"string","description":"vSphere Category for the tag. Should be empty if the IaaS is not vSphere."},"name":{"type":"string","description":"Key / name for the tag"},"value":{"type":"string","description":"Value for the tag. Can be empty"}},"title":"ClusterTag"},"ClusterUpgradeInfo":{"type":"object","properties":{"cluster_name":{"type":"string"},"end_time":{"type":"integer","format":"int64"},"is_canary":{"type":"boolean"},"last_action":{"type":"string","enum":["CREATE","UPDATE","DELETE","UPGRADE"]},"last_action_state":{"type":"string","enum":["in progress","succeeded","failed","queued"]},"start_time":{"type":"integer","format":"int64"}},"title":"ClusterUpgradeInfo"},"ClusterUsage":{"type":"object","required":["cpu","memory","name"],"properties":{"cpu":{"type":"integer","format":"int64"},"memory":{"type":"number","format":"double"},"name":{"type":"string"}},"title":"ClusterUsage"},"ComputeProfile":{"type":"object","required":["name","parameters","uuid"],"properties":{"description":{"type":"string"},"name":{"type":"string"},"parameters":{"type":"string"},"uuid":{"type":"string"}},"title":"ComputeProfile"},"ComputeProfileParameters":{"type":"object","properties":{"azs":{"type":"array","items":{"$ref":"#/definitions/AZ"}},"cluster_customization":{"$ref":"#/definitions/ClusterCustomization"}},"title":"ComputeProfileParameters"},"ComputeProfileRequest":{"type":"object","required":["name","parameters"],"properties":{"description":{"type":"string"},"name":{"type":"string"},"parameters":{"$ref":"#/definitions/ComputeProfileParameters"}},"title":"ComputeProfileRequest"},"CustomCaCert":{"type":"object","properties":{"ca_cert":{"type":"string"},"domain_name":{"type":"string","description":"Domain name allows [a-zA-Z0-9_] in surroundings and [-.] in the middle. It also allows port in the end."}},"title":"CustomCaCert"},"ErrorResponse":{"type":"object","required":["body"],"properties":{"body":{"type":"string"}},"title":"ErrorResponse"},"InstanceGroup":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"vm_extension":{"type":"object"}},"title":"InstanceGroup"},"KubernetesComponentCustomization":{"type":"object","required":["component"],"properties":{"arguments":{"type":"object","additionalProperties":{"type":"string"}},"component":{"type":"string"},"file-arguments":{"type":"object","additionalProperties":{"type":"string"}}},"title":"KubernetesComponentCustomization"},"KubernetesCustomizationParameters":{"type":"object","properties":{"insecure_registries":{"type":"array","items":{"type":"string"}},"unset_http_proxy":{"type":"array","items":{"type":"string"}},"vsphere_cloud_provider_config_key":{"type":"string"}},"title":"KubernetesCustomizationParameters"},"KubernetesProfile":{"type":"object","required":["name","uuid"],"properties":{"created_at":{"type":"integer","format":"int64"},"customizations":{"type":"array","items":{"$ref":"#/definitions/KubernetesComponentCustomization"}},"description":{"type":"string"},"experimental_customizations":{"type":"array","items":{"$ref":"#/definitions/KubernetesComponentCustomization"}},"name":{"type":"string"},"owner":{"type":"string"},"uuid":{"type":"string"}},"title":"KubernetesProfile"},"KubernetesProfileRequest":{"type":"object","required":["name"],"properties":{"customizations":{"type":"array","items":{"$ref":"#/definitions/KubernetesComponentCustomization"}},"description":{"type":"string"},"experimental_customizations":{"type":"array","items":{"$ref":"#/definitions/KubernetesComponentCustomization"}},"name":{"type":"string"}},"title":"KubernetesProfileRequest"},"KubernetesSettings":{"type":"object","properties":{"kubelet_drain_delete_local_data":{"type":"string"},"kubelet_drain_force":{"type":"string"},"kubelet_drain_force_node":{"type":"string"},"kubelet_drain_grace_period":{"type":"string"},"kubelet_drain_ignore_daemonsets":{"type":"string"},"kubelet_drain_timeout":{"type":"string"}},"title":"KubernetesSettings"},"Link":{"type":"object","properties":{"href":{"type":"string"},"templated":{"type":"boolean"}},"title":"Link"},"Map«string,Link»":{"type":"object","title":"Map«string,Link»","additionalProperties":{"$ref":"#/definitions/Link"}},"ModelAndView":{"type":"object","properties":{"empty":{"type":"boolean"},"model":{"type":"object"},"modelMap":{"type":"object","additionalProperties":{"type":"object"}},"reference":{"type":"boolean"},"status":{"type":"string","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 CHECKPOINT","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","302 MOVED_TEMPORARILY","303 SEE_OTHER","304 NOT_MODIFIED","305 USE_PROXY","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 PAYLOAD_TOO_LARGE","413 REQUEST_ENTITY_TOO_LARGE","414 URI_TOO_LONG","414 REQUEST_URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","419 INSUFFICIENT_SPACE_ON_RESOURCE","420 METHOD_FAILURE","421 DESTINATION_LOCKED","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]},"view":{"$ref":"#/definitions/View"},"viewName":{"type":"string"}},"title":"ModelAndView"},"NetPermission":{"type":"object","properties":{"ips":{"type":"string","description":"IP range or IP subnet to which these restrictions will be levied upon"},"name":{"type":"string","description":"Name of the NetPermission object"},"permissions":{"type":"string","description":"Can either be \"READ_WRITE\", \"READ_ONLY\" or \"NO_ACCESS\""},"rootsquash":{"type":"boolean","description":"Security access level for the file share volume."}},"title":"NetPermission"},"NetworkProfile":{"type":"object","required":["name","uuid"],"properties":{"description":{"type":"string"},"name":{"type":"string"},"parameters":{"type":"string"},"uuid":{"type":"string"}},"title":"NetworkProfile"},"NetworkProfileRequest":{"type":"object","required":["name","parameters"],"properties":{"description":{"type":"string"},"name":{"type":"string"},"parameters":{"type":"string"}},"title":"NetworkProfileRequest"},"Plan":{"type":"object","required":["allow-privileged-containers","description","id","master_instances","name","worker_instances"],"properties":{"allow-privileged-containers":{"type":"boolean"},"description":{"type":"string"},"id":{"type":"string"},"master_instances":{"type":"integer","format":"int32"},"name":{"type":"string"},"worker_instances":{"type":"integer","format":"int32"}},"title":"Plan"},"Quota":{"type":"object","required":["limit","owner"],"properties":{"limit":{"$ref":"#/definitions/QuotaLimit"},"owner":{"type":"string"}},"title":"Quota"},"QuotaLimit":{"type":"object","properties":{"cluster":{"type":"integer","format":"int32"},"cpu":{"type":"integer","format":"int64"},"memory":{"type":"number","format":"double"}},"title":"QuotaLimit"},"TaskInfo":{"type":"object","properties":{"clusters":{"type":"array","items":{"$ref":"#/definitions/ClusterUpgradeInfo"}},"end_time":{"type":"integer","format":"int64"},"start_time":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["not started","in progress","canceled","done"]},"type":{"type":"string","description":"The type of a task","enum":["UPGRADE"]},"uuid":{"type":"string","description":"The uuid of a task"}},"title":"TaskInfo"},"UpdateClusterParameters":{"type":"object","properties":{"cluster_config_parameters":{"$ref":"#/definitions/ClusterConfigParameters"},"cluster_tags":{"type":"array","items":{"$ref":"#/definitions/ClusterTag"}},"compute_profile_name":{"type":"string"},"custom_ca_certs":{"type":"array","items":{"$ref":"#/definitions/CustomCaCert"}},"delete_all_tags":{"type":"boolean"},"insecure_registries":{"type":"array","items":{"type":"string"}},"kubelet_drain_delete_local_data":{"type":"string"},"kubelet_drain_force":{"type":"string"},"kubelet_drain_force_node":{"type":"string"},"kubelet_drain_grace_period":{"type":"string"},"kubelet_drain_ignore_daemonsets":{"type":"string"},"kubelet_drain_timeout":{"type":"string"},"kubernetes_profile_name":{"type":"string"},"kubernetes_worker_instances":{"type":"integer","format":"int32"},"network_profile_name":{"type":"string"},"node_pool_instances":{"type":"string"}},"title":"UpdateClusterParameters"},"UpgradeClustersRequest":{"type":"object","properties":{"canaries":{"type":"array","items":{"type":"string"}},"clusters":{"type":"array","items":{"type":"string"}},"max_in_flight":{"type":"integer","format":"int32"}},"title":"UpgradeClustersRequest"},"Usage":{"type":"object","required":["clusters","owner","totals"],"properties":{"clusters":{"type":"array","items":{"$ref":"#/definitions/ClusterUsage"}},"owner":{"type":"string"},"totals":{"$ref":"#/definitions/UsageTotals"}},"title":"Usage"},"UsageTotals":{"type":"object","required":["cluster","cpu","memory"],"properties":{"cluster":{"type":"integer","format":"int32"},"cpu":{"type":"integer","format":"int64"},"memory":{"type":"number","format":"double"}},"title":"UsageTotals"},"VMResource":{"type":"object","properties":{"az_names":{"type":"array","items":{"type":"string"}},"cpu":{"type":"integer","format":"int32"},"ephemeral_disk_in_mb":{"type":"integer","format":"int32"},"instances":{"type":"integer","format":"int32"},"max_worker_instances":{"type":"integer","format":"int32"},"memory_in_mb":{"type":"integer","format":"int32"},"name":{"type":"string"},"node_labels":{"type":"string"},"node_taints":{"type":"string"},"persistent_disk_in_mb":{"type":"integer","format":"int32"}},"title":"VMResource"},"View":{"type":"object","properties":{"contentType":{"type":"string"}},"title":"View"}}}